body{
	font-family: Arial, 16px;
}
.navbar{
	background-color: #f8f8f8;
}
.Quem-somos{
	background-color: #cce0ff;
	color: black;
}
.margin{
	padding-top: 3%;
	padding-bottom: 5%;
}
.servicos{
	background-color: #e6f0ff;
}
.projetos{
	background-color: #cce0ff;
}
.bg-footer{
	background-color: black;
	color: white;
}